/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Mixins
   ========================================================================== */
.no-margin-or-padding {
  margin: 0;
  padding: 0;
}
.proxima-regular {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.proxima-semibold {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.proxima-bold {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.proxima-for-nav {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  font-size: 15px;
}
.trajan {
  font-family: "trajan-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 0px;
  margin: 0px;
}
body {
  padding: 16px;
}
.full {
  width: 100%;
  clear: both;
}
.full img {
  margin: 0px;
  padding: 3px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .full img {
    margin-top: -3px;
    margin-bottom: -3px;
  }
}
.full .one {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .full .one {
    width: 25%;
    float: left;
  }
}
.full .half {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .full .half {
    width: 50%;
    float: left;
  }
}
.full .three {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .full .three {
    width: 75%;
    float: left;
  }
}
